@import 'compass';
@import 'config/colors';

$gitter : 8px;
$gitter-x: $gitter;
$gitter-y: $gitter * 0.75;

$font-size_BASE: 14px;
$font-size_L: 150%;
$font-size_M: 100%;
$font-size_S: 70%;

@include global-reset;
@import 'config/basic';

main {
  a {
    color: $color-link;

    @include transition(0.22s ease-out);

    &:visited {
      color: $color-link_v;
    }
    &:hover,
    &:hover:visited {
      color: $color-link_h;
    }
  }

  @media print {
    &     a {
       text-decoration: none;

       &:link,
       &:visited,
       &:hover,
       &:hover:visited {
         color: $color-text;
       }

       &:after {
         content: ' [' attr(href) ']';
       }
     }
  }

  article.index {
    a:after {
      content:'';
    }
  }

  h1 {
    font-size: $font-size_L;
    padding: $gitter-y $gitter-x;
    border-bottom: 3px solid $color-green;
    margin-bottom: $gitter;
  }
  h2, h3, h4, h5, h6 {
    padding: $gitter-y $gitter-x;
    margin-bottom: $gitter;
  }
  h2, h3, h4 {
    border-bottom: 1px solid $color-green;
  }
  h5, h6 {
    font-size: $font-size_S;
    font-weight: bold;
    background: #f0f0f0;
  }
  hr {
    border: 0;
    border-bottom: 1px dashed $color-green;
  }
  ul {
    list-style: square outside;
  }
  ol {
    list-style: decimal outside;
  }
  li {
    margin-left:30px;
  }

  pre {
    border: #CCC 1px solid;
    background: #f6f6f6;
    color: #0f141f;
    padding: $gitter;
  }
}
